@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --incoex-black: #121211;
  --incoex-gray-dk: #6e6d68;
  --incoex-gray-md: #b3b0a6;
  --incoex-gray-lt: #f0efea;
  --incoex-red: #cc0000;
  --ease-out-cubic: cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  color: var(--incoex-gray-lt);
  background: var(--incoex-black);
  font-family: Arial, Helvetica, sans-serif;
}

nav .link {
  @apply border-b-4 border-transparent transition-colors ease-[var(--ease-out-cubic)] duration-300;

  &:hover {
    @apply border-[var(--incoex-red)];
  }

  &.active {
    @apply border-[var(--incoex-gray-lt)];
  }
}
